In [1]:
schema = {
    "columns": [
        {"name": "ID", "type": "int", "constraints": ["primary_key"]},
        {"name": "Name", "type": "string"},
        {"name": "Age", "type": "int"},
    ]
}

In [7]:
pip install Faker

Collecting Faker
  Downloading Faker-19.6.2-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 17.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-19.6.2

In [8]:
import random
import faker  # You'll need to install the Faker library

# Sample schema
schema = {
    "columns": [
        {"name": "ID", "type": "int", "constraints": ["primary_key"]},
        {"name": "Name", "type": "string"},
        {"name": "Age", "type": "int"},
    ]
}

# Initialize Faker to generate realistic data
fake = faker.Faker()

In [9]:
# Function to generate data for a column based on its type
def generate_column_data(column):
    if column["type"] == "int":
        return random.randint(18, 60)
    elif column["type"] == "string":
        return fake.name()

In [10]:
# Function to generate a single row of data
def generate_row(schema):
    return {column["name"]: generate_column_data(column) for column in schema["columns"]}

In [13]:
# Function to generate multiple rows of data
def generate_data(schema, num_rows=50):
    data = []
    for _ in range(num_rows):
        data.append(generate_row(schema))
    return data

In [14]:
# Generate 50 rows of data
generated_data = generate_data(schema)
for row in generated_data:
    print(row)

{'ID': 43, 'Name': 'Ashley Johnston', 'Age': 42}
{'ID': 58, 'Name': 'Francisco Crawford', 'Age': 35}
{'ID': 48, 'Name': 'Nicholas Kelly', 'Age': 47}
{'ID': 53, 'Name': 'William Torres', 'Age': 48}
{'ID': 28, 'Name': 'Jeffrey Perez', 'Age': 29}
{'ID': 30, 'Name': 'Kristy Martin', 'Age': 19}
{'ID': 31, 'Name': 'Rhonda Jackson', 'Age': 28}
{'ID': 39, 'Name': 'Brian Jones', 'Age': 26}
{'ID': 38, 'Name': 'Jeremiah Pittman', 'Age': 28}
{'ID': 47, 'Name': 'Monica Morris', 'Age': 60}
{'ID': 20, 'Name': 'Michelle Mercado', 'Age': 42}
{'ID': 50, 'Name': 'Jean Morris', 'Age': 59}
{'ID': 56, 'Name': 'Timothy Fowler', 'Age': 56}
{'ID': 52, 'Name': 'Kimberly Moran', 'Age': 22}
{'ID': 36, 'Name': 'Eric Mcdonald', 'Age': 57}
{'ID': 21, 'Name': 'John White', 'Age': 35}
{'ID': 59, 'Name': 'Ronnie Beasley', 'Age': 35}
{'ID': 26, 'Name': 'Mitchell Mccarthy', 'Age': 33}
{'ID': 49, 'Name': 'Reginald Franco', 'Age': 52}
{'ID': 20, 'Name': 'Alicia Reyes', 'Age': 45}
{'ID': 32, 'Name': 'Christopher Townsend', 'Age': 42}
{'ID': 21, 'Name': 'Gary Nichols', 'Age': 40}
{'ID': 47, 'Name': 'Christopher White', 'Age': 52}
{'ID': 57, 'Name': 'Sandy Freeman', 'Age': 26}
{'ID': 19, 'Name': 'Diamond Kidd', 'Age': 27}
{'ID': 34, 'Name': 'Gabriela Cunningham', 'Age': 56}
{'ID': 60, 'Name': 'Lindsey Sullivan', 'Age': 56}
{'ID': 56, 'Name': 'Richard Keller', 'Age': 33}
{'ID': 25, 'Name': 'Ronald Rhodes', 'Age': 19}
{'ID': 37, 'Name': 'Joshua Moore', 'Age': 55}
{'ID': 44, 'Name': 'Joseph Shannon', 'Age': 52}
{'ID': 45, 'Name': 'Christopher White', 'Age': 36}
{'ID': 53, 'Name': 'Karla Murillo', 'Age': 58}
{'ID': 51, 'Name': 'Kimberly Callahan', 'Age': 25}
{'ID': 47, 'Name': 'Nicole Gates', 'Age': 51}
{'ID': 40, 'Name': 'Nicholas Farmer', 'Age': 29}
{'ID': 52, 'Name': 'Sonya Bryant', 'Age': 38}
{'ID': 50, 'Name': 'David Gordon', 'Age': 39}
{'ID': 19, 'Name': 'Daniel Watson', 'Age': 41}
{'ID': 24, 'Name': 'Kevin Phillips', 'Age': 55}
{'ID': 28, 'Name': 'David Ferguson', 'Age': 30}
{'ID': 46, 'Name': 'Victoria Franco', 'Age': 52}
{'ID': 53, 'Name': 'Anthony Doyle', 'Age': 24}
{'ID': 49, 'Name': 'John Delacruz', 'Age': 37}
{'ID': 32, 'Name': 'Ryan Waters', 'Age': 45}
{'ID': 53, 'Name': 'Jade Ramsey', 'Age': 25}
{'ID': 43, 'Name': 'Andrew Spencer', 'Age': 32}
{'ID': 34, 'Name': 'Jennifer Mullins', 'Age': 28}
{'ID': 46, 'Name': 'Daniel Austin', 'Age': 59}
{'ID': 40, 'Name': 'Linda Morales', 'Age': 46}